* {
  padding: 0;
  margin: 0;
  font-family: "Port Lligat Slab", serif;
  box-sizing: border-box;
  /* background-color: black; */
}
html,
body {
  width: 100%;
  background: linear-gradient(to right, #203850, #052659, #021024);
}
form {
  width: 300px;
  background-color: rgba(247, 248, 248, 0.411);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0px 0px 50px #161616;
  padding: 20px;
  margin-top: 50px;
}
input {
  width: 90%;
  height: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(240, 236, 236, 0.925);
  font-size: 12px;
  margin-top: 2vh;
  padding: 15px;
  outline: none;
}

#gender {
  width: auto;
  margin-left: 2vw;
}
button {
  margin-top: 0.8vh;
  margin-bottom: 3vh;
  border-radius: 5px;
  /* border: 0.5px black solid; */
  background-color: rgba(0,255,0,0.59);
  color: white;
  width: 90%;
  padding: 6px 0px;
  font-weight: 300;
  font-size: 15px;
  border: none;  
}

button:hover {
  background-color: rgba(0, 255, 0, 0.67);
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
.anotherpage {
  border-top: 1px solid rgb(70, 69, 69);
  margin: 0px 20px;
  padding: 10px 0;
}
.anotherpage a {
  text-decoration: none;
  color: blue;
}
